
@model IMS.Modes.Entity.UnitInfo

@if(Model.Id == 0)
{
    <div>
        <p>Create</p>
    </div>
}
else{
    <div>
        <p>Update</p>
    </div>}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEdit">
            <div class="form-group">

                <label asp-for="UnitName" class="form-label"></label>
                <input asp-for="UnitName" class="form-control" placeholder="@Model.UnitName" />
                <span asp-validation-for="UnitName" class="text-danger"></span>
            </div>
            @if (Model.Id != 0)
            {
                <label class="check-box">
                    <input type="checkbox" asp-for="IsActive" />
                    <span class="btn-check"></span>
                    <p class="terms" formation="">Is Active</p>
                </label>
            }

            @if (Model.Id==0)
                    {
                        <input type="submit" value="Create" class="btn-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Update" class="btn-primary" />
                    }
              
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}